
html, body { height: 100%; }
body { 
  background-color: #303030; /* Oscuro */
  color: white; /* Asegúrate de que el texto sea visible en fondo oscuro */
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
